{% extends "base.twig" %}

{% block page_content %}
    {% set nbIntervenants = intervenants|length %}
    {% set chunkSize = (nbIntervenants / 3)|round(0, 'ceil') %}
    {% set chunks = intervenants|batch(chunkSize) %}
    <div class="titreEtBarreRecherche">
        <h2>Liste des intervenants</h2> {# TODO : A changer en fonction des intervenants du départements et des vacataires #}
        <form class="barreRecherche" action="#" method="post">
            <fieldset id="intervenants">
                <div class="conteneurChamps">
                    <label for="intervenant_id"></label>
                    <input class="champsRecherche" type="text" data-inputfun="autocompIntervenant.requeteAJAX()"
                           placeholder="Rechercher un intervenant"
                           name="intervenant"
                           id="intervenant_id" required>
                    <div class="boutonEnvoie">
                        <img src="{{ asset("../ressources/img/search.svg") }}" alt="loupe">
                    </div>
                </div>
                <div class="autocompletion" data-inputfun="autocompIntervenant.requeteAJAX()"
                     data-htmlvar="autocompIntervenant.suggestions_str"></div>
            </fieldset>
        </form>
    </div>
    <div class="liste">
        {% for chunk in chunks %}
            <ul>
                {% for intervenant in chunk %}
                    <li class="boutonContainer">
                        <a href="#">{{ intervenant.getNom }}   {{ intervenant.getPrenom }}   {{ intervenant.getIdIntervenantReferentiel }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}


