{% block barre_recherche_intervenant %}
    <form class="barreRecherche" action="{{ route("chercherIntervenant") }}" method="post">
        <fieldset id="intervenants">
            <div class="conteneurChamps">
                <label for="intervenant_id"></label>
                <input class="champsRecherche" type="text" data-inputfun="autocompIntervenant.requeteAJAX()"
                       placeholder="Rechercher un intervenant"
                       name="intervenant"
                       id="intervenant_id" required>
                <button type="submit" name="btnEnvoieRecherche" class="boutonEnvoie">
                    <img src="{{ asset("../ressources/img/search.svg") }}" alt="loupe">
                </button>
            </div>
            <div class="conteneurAutoComp">
                <div class="autocompletion" data-inputfun="autocompIntervenant.requeteAJAX()"
                     data-htmlvar="autocompIntervenant.suggestions_str"></div>
            </div>
        </fieldset>
    </form>
{% endblock %}