{% block barre_recherche_intervenant %}
    <form class="barreRecherche" action="#" method="post">
        <fieldset id="intervenants">
            <div class="conteneurChamps">
                <label for="intervenant_id"></label>
                <input class="champsRecherche" type="text" data-inputfun="autocompIntervenant.requeteAJAX()"
                       placeholder="Rechercher un intervenant"
                       name="intervenant"
                       id="intervenant_id" required>
                <div class="boutonEnvoie">
                    <img src="{{ asset("../ressources/img/search.svg") }}" alt="loupe">
                </div>
            </div>
            <div class="conteneurAutoComp">
                <div class="autocompletion" data-inputfun="autocompIntervenant.requeteAJAX()"
                     data-htmlvar="autocompIntervenant.suggestions_str"></div>
            </div>
        </fieldset>
    </form>
{% endblock %}