{% block barre_recherche_usurpation %}
    <form class="barreRecherche" action="{{ route("usurper") }}" method="post" xmlns="http://www.w3.org/1999/html">
        <fieldset id="usurpation">
            <div class="conteneurChamps">
                <label for="usurpation_id"></label>
                <input class="champsRecherche" type="text" data-inputfun="autocompIntervenant.requeteAJAX()"
                       placeholder="Rechercher une personne à usurper"
                       name="intervenant"
                       id="usurpation_id" required>
                <button type="submit" name="btnEnvoieUsurpation" class="boutonEnvoie">
                    <img src="{{ asset("../ressources/img/search.svg") }}" alt="loupe">
                </button>
            </div>
            <div class="conteneurAutoComp">
                <div class="autocompletion" data-inputfun="autocompIntervenant.requeteAJAX()"
                     data-htmlvar="autocompIntervenant.suggestions_str"></div>
            </div>
        </fieldset>
    </form>
{% endblock %}