{% block barre_recherche_unite_service %}
    <form class="barreRecherche" action="#" method="post">
        <fieldset id="unitesServices">
            <div class="conteneurChamps">
                <label for="uniteService_id"></label>
                <input class="champsRecherche" type="text" data-inputfun="autocompUS.requeteAJAX()"
                       placeholder="Rechercher une unité de service"
                       name="uniteService"
                       id="uniteService_id" required>
                <div class="boutonEnvoie">
                    <img src="{{ asset("../ressources/img/search.svg") }}" alt="loupe">
                </div>
            </div>
            <div class="autocompletion" data-inputfun="autocompUS.requeteAJAX()"
                 data-htmlvar="autocompUS.suggestions_str"></div>
        </fieldset>
    </form>
{% endblock %}
