{% block edition_service_annuel %}
    {% if connexionUtilisateur.estAdminOuChef %}
            <button class="transparent" onclick="afficherFormService({{ intervenantsAnnuelsEtDuDepartementVacataire[i].getIdIntervenant }})">
                <img class="edition" src="{{ asset("../ressources/img/pencil.svg") }}" alt="edit">
            </button>
    {% endif %}
{% endblock %}