{% block slider %}
    {% if departementIntervenantConnecte == departementActuel %}
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    {% endif %}
{% endblock %}