@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("./fonts/Montserrat-SemiBold.ttf");
}

:root {
    --bg-color: #31485F;
    --bg-hover: #273C50;
    --classic-font: Montserrat, serif;
    --semibold-font: Montserrat-SemiBold, serif;
    --color-info: #31708f;
    --color-success: #3c763d;
    --color-warning: #8a6d3b;
    --color-danger: #a94442;
}

#logoEtTitre, #onglets, #footer, .boutonContainer, .boutonEnvoie, .boutonEnvoie2, .champsRecherche, .barreRecherche > fieldset, .conteneurChamps,
.boutonValidationConteneur, .conteneurAutoComp, .colIdentifiant, .colLib, .alertVoeux, #messagesFlash > div, .formCreation {
    display: flex;
}

footer, ul, tbody, #intervenants, #unitesServices, #usurpation, .coteGauche, .coteDroit, .annuel, .annuel2, .optionsSurObjet, .menuDeroulant,
.boutonSousMenuAnneeService, .sousMenuAnneeService, .infosSupplementaires, .miseEnPage2, #conteneurAccueil, .conteneurAlerte,
.conteneurResponsable, .alertVoeux > div, #messagesFlash, .fieldsetCreation, .fieldsetCreation > div, .blockGestion {
    display: flex;
    flex-direction: column;
}

nav, #logoEtTitre > a, #informationsHeader, .boutonValidation, .liste, .titreEtBarreRecherche, .infosDepartementEtAnnee, .miseEnPage,
.optionsSupplémentaires, .infosAnnuel, .titreEtBarreRecherche2, thead, thead > tr, .boutonTable {
    display: flex;
    flex-direction: row;
}

.autocompletion, .sousMenuAnneeService, .arrowUpAnneeService {
    display: none;
}

html, body, ul, #vague, .barreRecherche, .barreRecherche > fieldset, .conteneurChamps, .coteGauche, .coteDroit, .miseEnPage,
.coteDroit h2, h3, .optionsSupplémentaires, .optionsSurObjet, .menuDeroulant, .boutonSousMenuAnneeService, .sousMenuAnneeService,
.boutonValidationConteneur, .conteneurAutoComp, .titreEtBarreRecherche2 > h2, .conteneurResponsable > h2, #messagesFlash, .formCreation {
    width: 100%;
}

#footer, .boutonEnvoie, .boutonEnvoie2, .miseEnPage, .coteGauche .conteneurChamps, .boutonValidationConteneur, .optionsSupplémentaires .conteneurAutoComp,
.alertVoeux, #messagesFlash > div, .formCreation {
    justify-content: center;
}

nav, #onglets, .liste, .boutonContainer, .infosDepartementEtAnnee, #conteneurAccueil, .titreEtBarreRecherche2 {
    justify-content: space-between;
}

nav, #logoEtTitre, #logoEtTitre > a, #footer, .boutonValidation, .boutonEnvoie, .boutonEnvoie2, .titreEtBarreRecherche, .coteGauche,
.coteDroit, .optionsSurObjet, .boutonSousMenuAnneeService, .infosAnnuel, .centrer, .titreEtBarreRecherche2, .alertVoeux > div,
#messagesFlash, .conteneur {
    align-items: center;
}

#deconnexion, #onglets, #departementHeader, #anneeHeader, #footer > p {
    font-family: var(--semibold-font);
    font-size: large;
}

html, body, h2, .infosSupplementaires > p {
    margin: 0;
}

html {
    font-family: var(--classic-font);
    height: 100%;
}


header {
    position: sticky;
    top: 0;
    z-index: 2;
}

main {
    margin-top: 4%;
}

nav {
    border-bottom: black;
    padding: 0 2%;
    color: white;
    background-color: var(--bg-color);
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    color: white;
}

h2, h3 {
    font-family: var(--semibold-font);
}

h2 {
    width: 50%;
}

ul {
    padding: 0;
    align-items: start;
}

#logo {
    width: 41%;
    height: 50px;
    margin-right: 2%;
}

#logoEtTitre > a {
    font-family: var(--semibold-font);
    font-size: xx-large;
    padding: 10% 0;
}

#onglets {
    width: 50%;
}

#informationsHeader {
    justify-content: space-evenly;
}

#anneeHeader, #departementHeader {
    font-size: medium;
}

#vague {
    display: block;
    background-image: url("../img/wave.svg");
    height: 40rem;
}

#footer {
    background-color: var(--bg-color);
    padding: 0 4% 4% 4%;
}

#footer > p {
    color: white;
}

.boutonValidation {
    justify-content: space-evenly;
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 260px;
    margin-top: 5%;
    padding: 0.8%;

}

.boutonValidation > a {
    color: white;
}

#download {
    width: 25px;
}

.liste {
    margin: 0 5%;
}

.boutonContainer {
    padding: 1rem 2rem;
    cursor: pointer;
}

.boutonContainer:hover, .boutonTable:hover {
    background-color: lightblue;
    border-radius: 5px;
}

.boutonEnvoie, .boutonEnvoie2 {
    background-color: var(--bg-color);
    height: 35px;
    width: 35px;
    border-radius: 0 20% 20% 0;
}

.boutonEnvoie2 {
    height: 40px;
    width: 40px;
}

.boutonEnvoie2 > img {
    width: 100%;
    height: 100%;
}

.boutonValidation:hover, .boutonEnvoie:hover, .boutonEnvoie2:hover {
    background-color: var(--bg-hover);
}

.titreEtBarreRecherche, .titreEtBarreRecherche2 {
    margin: 0 5%;
}

.champsRecherche {
    border-radius: 7px 0 0 7px;
    width: 300px;
}

.barreRecherche > fieldset {
    border: 0;
    padding: 1%;
    height: 100%;
}

.autocompletion {
    width: 22%;
    background-color: white;
    border: 1px solid grey;
    line-height: 1.5;
    position: absolute;
    z-index: 1;
    padding-left: 1%;
}

.coteGauche {
    border-right: solid black;
}

.coteDroit {
    overflow: auto;
    height: 700px;
}

.annuel, .annuel2 {
    width: 50%;
    padding: 1% 1% 0 1%;
    border: solid black;
    border-radius: 10px;
    margin-bottom: 3%;
}

.annuel2 {
    width: 70%;
}

.infosDepartementEtAnnee {
    font-family: var(--semibold-font);
}

.miseEnPage ul {
    margin-left: 3%;
}

.coteGauche ul {
    margin-left: 6%;
}

.miseEnPage h2 {
    margin-bottom: 5%;
}

.description > ul, .infosAnnuel > ul {
    padding-left: 1%;
}

.coteDroit h2, .coteGauche h2 {
    text-align: center;
}

.coteGauche h2 {
    width: 70%;
}

.coteGauche li, .coteDroit li {
    display: block;
}

.optionsSupplémentaires {
    margin-top: 3%;
}

.coteGauche .champsRecherche {
    width: 250px;
}

.coteGauche .autocompletion {
    width: 18.5%;
}

.optionsSurObjet > a {
    margin: 3% 0 10% 0;
}

.boutonSousMenuAnneeService {
    padding: 1% 0;
}

.arrow-down, .arrow-up {
    width: 5%;
}

.infosSupplementaires {
    margin-bottom: 3%;
    padding-left: 2%;
}

.edition {
    margin-bottom: 5%;
}

#conteneurAccueil, .alertVoeux {
    width: 70%;
}

.alertVoeux, .colIdentifiant {
    text-align: center;
}

.conteneurResponsable {
    margin-top: 5%;
}

.boutonAvecLienInfo {
    color: var(--color-info);
    border: solid 1px var(--color-info);
    border-radius: 5px;
    padding: 0.5rem;
    width: 50%
}

.boutonAvecLienInfo:hover {
    background-color: var(--color-info);
    color: white;
}

.fieldsetCreation {
    border: none;
    width: 40%;
    padding: 1% 0 1% 1%
}

.labelCreation {
    margin: 2% 0 1% 0;
    font-family: var(--semibold-font);
}

.boutonSuppression {
    border:0;
    background-color:rgba(0,0,0,0);
}

.inputCreation {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}

.inputCreation:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}

.bouton {
    color: white;
    padding: 2% 0;
    width: 200px
}

.miseEnPage2 .formCreation {
    display: block;
}

.miseEnPage2 .fieldsetCreation {
    flex-direction: row;
    width: auto;
}

.start {
    align-items: start;
}

.start > div {
    margin: 2% 0 0 2%;
    width: 90%;
}

.start input, .start select {
    margin-top: 1%
}

#check_id {
    width: 20px;
    height: 20px;
}

.titreEtBarreRecherche .optionsSurObjet {
    display: block;
    justify-content: center;
}

.titreEtBarreRecherche .conteneurChamps, .titreEtBarreRecherche .conteneurAutoComp {
    justify-content: center;
}

.titreEtBarreRecherche h2 {
    width: 100%;
}

.blockGestion {
    margin: 0 0 4% 4%;
    padding-left: 1%;
    border-left: solid black;
    height: 8rem;
}

.blockGestion .inputCreation {
    width: 30%;
    margin-left: 3%;
}

.blockGestion label {
    display: flex;
    align-items: center;
}

.blockGestion .fieldsetCreation {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blockGestion .fieldsetCreation > div {
    flex-direction: row;
    justify-content: start;
}

.blockGestion .formCreation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blockGestion .conteneur {
    align-items: center;
    justify-content: start;
}

.blockGestion .conteneur .bouton {
    width: auto;
    margin: 0;
    padding: 1.5%;
}

.blockGestion .miseEnPage {
    height: 100%;
}

.gestionListe li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    width: 100%;
}

.gestionListe li > * {
    margin-right: 2%;
}

/* Bootstrap alerts */
/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: var(--color-success);
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: var(--color-info);
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: var(--color-warning);
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: var(--color-danger);
    background-color: #f2dede;
    border-color: #ebccd1;
}

.titreEtBarreRecherche2 .conteneurChamps, .titreEtBarreRecherche2 .conteneurAutoComp {
    justify-content: end;
}

#messagesFlash {
    animation: flashes-animation 5s 1;
    -webkit-animation: flashes-animation 5s 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
}

#messagesFlash > div {
    width: 50%;
}

@-webkit-keyframes flashes-animation {
    0% {
        opacity: 1;
        position: absolute;
    }
    50% {
        opacity: 1;
        position: absolute;
    }
    90% {
        opacity: 0;
        position: absolute;
    }
    100% {
        opacity: 0;
        position: absolute;
    }
}
