{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage2">
        <div class="miseEnPage">
            <div class="coteGauche overflow">
                <h2>Membres du département</h2>

            </div>
            <div class="coteDroit overflow">
            </div>
        </div>
    </div>
{% endblock %}