{% extends "base.twig" %}

{% block page_content %}
    {% set nbUS = unitesServices|length %}
    {% set chunkSize = (nbUS / 2)|round(0, 'ceil') %}
    {% set chunks = unitesServices|batch(chunkSize) %}
    <div class="titreEtBarreRecherche">
        <h2>Liste des unités de
            services</h2> {# TODO : A changer en fonction des intervenants du départements et des vacataires #}
        {% include "templates/barreRechercheUniteService.twig" %}
    </div>
    <div class="liste">
        {% for chunk in chunks %}
            <ul>
                {% for uniteService in chunk %}
                    <li class="boutonContainer">
                        <a href="{{ route("afficherDetailUniteService", {"idUniteService": uniteService.getIdUniteService}) }}">
                            {{ uniteService.getNature }}   {{ uniteService.getLibUS }}   {{ uniteService.getIdUSReferentiel }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}