{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage">
        <form class="formCreation" method="post" action="#" enctype="multipart/form-data">
            <fieldset class="fieldsetCreation">
                <div>
                    <label class="labelCreation" for="libPayeur_id">Libellé</label>
                    <input class="inputCreation" type="text" value="{{ payeur.getLibPayeur }}" name="libPayeur"
                           id="libPayeur_id">
                </div>
                <input type="hidden" name="idPayeur" value="{{ payeur.getIdPayeur }}">
                <div class="boutonValidationConteneur conteneur">
                    <input class="boutonValidation bouton" type="submit" value="Envoyer">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}