{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage">
        <form class="formCreation" method="post" action="#" enctype="multipart/form-data">
            <fieldset class="fieldsetCreation">
                <div>
                    <label class="labelCreation" for="libDepartement_id">Libellé</label>
                    <input class="inputCreation" type="text" placeholder="MATH" name="libDepartement"
                           id="libDepartement_id">
                </div>
                <div>
                    <label class="labelCreation" for="codeLettre_id">Code lettre</label>
                    <input class="inputCreation" type="text" placeholder="MA" name="codeLettre"
                           id="codeLettre_id">
                </div>
                <div>
                    <label class="labelCreation" for="reportMax_id">Report maximum</label>
                    <input class="inputCreation" type="number" value="0" name="reportMax"
                           id="reportMax_id" required>
                </div>
                <div>
                    <label class="labelCreation" for="idComposante_id">Composante</label>
                    <select class="inputCreation" name="idComposante" id="idComposante_id">
                        {% set i = 1 %}
                        {% for composante in composantes %}
                            <option value="{{ i }}">{{ composante.getLibComposante }}</option>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="labelCreation" for="idEtat_id">Etat</label>
                    <select class="inputCreation" name="idEtat" id="idEtat_id">
                        {% set i = 1 %}
                        {% for etat in etats %}
                            <option value="{{ i }}">{{ etat.getLibEtat }}</option>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </select>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <input class="boutonValidation bouton" type="submit" value="Envoyer">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}