{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage">
        <form class="formCreation" method="post" action="#" enctype="multipart/form-data">
            <fieldset class="fieldsetCreation">
                <div>
                    <label class="labelCreation" for="etat_id">Choisissez l'état du département</label>
                    <select class="inputCreation" name="idEtat" id="etat_id">
                        {% set i = 1 %}
                        {% for etat in etats %}
                            <option value="{{ i }}">{{ etat.getLibEtat }}</option>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="idDepartement" value="{{ idDepartement }}">
                <div class="boutonValidationConteneur conteneur">
                    <input class="boutonValidation bouton" type="submit" value="Envoyer">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}